<!doctype html>
<html>
<head>
  <title>Vangemed OAuth</title>
  <link type="text/css" rel="stylesheet" href="static/styles.css">
</head>
<body>

  <h1>OSU CS493 Porfolio Assignment</h1>

  <h3>
      Clicking the link below will redirect the user to sign in with their Google account. 
      The only data that will be used is the user's name, which will be displayed on the resulting page,
      along with the JWT and the User's ID.
      Please don't delete me Google, it's a homework assignment &hearts;
  </h3>

  <div>
    <a href="/oauth">OAuth 2.0</a>
  </div>


  <div>
    <h3>Here is an unrelated picture of my dog.</h3>
    <img src="https://elasticbeanstalk-us-east-2-181021098475.s3.us-east-2.amazonaws.com/cs467/4018.jpeg">
  </div>
  

</body>
</html>