<!doctype html>
<html>
<head>
  <title>Vangemed OAuth</title>
  <link type="text/css" rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <h1>OSU CS493 Portfolio Assignment</h1>

  <h3>
    Here is some of the information that was gathered with Google's Authorization Token.
    Please don't delete me Google, it's a homework assignment &hearts;
  </h3>

  <p>First Name: {{fname}}</p>
  <p>Last Name: {{lname}}</p>
  <p>JWT: {{jwt}}</p>
  <p>ID: {{id}}</p>

  <div>
    <h3>Here is an unrelated picture of my dog.</h3>
    <img src="https://elasticbeanstalk-us-east-2-181021098475.s3.us-east-2.amazonaws.com/cs467/4018.jpeg">
  </div>

</body>
</html>